<form class="author-form" action="" method="POST">
    <%if(locals.update){%>
        <h3>Update author ( <%= locals.value.author_fullname%> )</h3>
    <%}else{%>
        <h3>Add new author</h3>
    <%}%>

    <%- include("errors")%>
    <div>
        <label for="author_fullname">Fullname: </label>
        <%if(locals.update){%>
            <input value="<%= locals.value.author_fullname%>" type="text" name="author_fullname" id="author_fullname" placeholder="Enter fullname">
        <%}else{%>
            <input type="text" name="author_fullname" id="author_fullname" placeholder="Enter fullname">
        <%}%>
    </div>

    <div>
        <label for="author_age">Age: </label>
        <%if(locals.update){%>
            <input value="<%= locals.value.author_age%>" type="number" name="author_age" id="author_age" placeholder="Enter age">
        <%}else{%>
            <input type="number" name="author_age" id="author_age" placeholder="Enter age">
        <%}%>
    </div>

    <div>
        <label for="author_gender">Gender: </label>
        <select name="author_gender" id="author_gender">
            <option <%= locals.value.author_gender === "Male" ? "selected" : ""%> value="Male">Male</option>
            <option <%= locals.value.author_gender === "Female" ? "selected" : ""%> value="Female">Female</option>
            <option <%= locals.value.author_gender === "Other" ? "selected" : ""%> value="Other">Other</option>
        </select>
    </div>

    <div>
        <label for="author_country_of_origin">Country of origin: </label>
        <%if(locals.update){%>
            <input value="<%= locals.value.author_country_of_origin%>" type="text" name="author_country_of_origin" id="author_country_of_origin" placeholder="Enter country of origin">
        <%}else{%>
            <input type="text" name="author_country_of_origin" id="author_country_of_origin" placeholder="Enter country of origin">
        <%}%>
    </div>

    <div>
        <%if(locals.update){%>
            <button>Update</button>
        <%}else{%>
            <button>Add</button>
        <%}%>
        <button type="reset">Reset</button>
        <a href="/authors">Close</a>
    </div>
</form>