<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/mangas.css" type="text/css">
</head>
<body>
    <form class="manga-form" action="/mangas/add" method="POST">
        <h3>Manga form</h3>
        <%- include("errors")%>
        <div>
            <label for="manga_name">Name: </label>
            <input type="text" name="manga_name" id="manga_name" placeholder="Enter manga name.">
        </div>
        <div>
            <label for="manga_image_url">Image url: </label>
            <input type="text" name="manga_image_url" id="manga_image_url" placeholder="Enter manga url.">
        </div>
        <div>
            <label for="manga_rating">Manga rating: </label>
            <input type="number" step="any" name="manga_rating" id="manga_rating" min="0.1" max="10" placeholder="Enter manga rating.">
        </div>
        <div>
            <label for="manga_price">Price: </label>
            <input type="number" step="any" name="manga_price" id="manga_price" min="0.1" placeholder="Enter manga price.">
        </div>
        <div>
            <label for="manga_chapter_number">Total chapters: </label>
            <input type="number" step="1" name="manga_chapter_number" min="1" id="manga_chapter_number" placeholder="Enter manga total chapter.">
        </div>
        <div>
            <label for="manga_volume_number">Total volumes: </label>
            <input type="number" step="1" name="manga_volume_number" min="1" id="manga_volume_number" placeholder="Enter manga total volume number.">
        </div>
        <div>
            <label for="manga_quantity">Quantity: </label>
            <input type="number" step="1" name="manga_quantity" id="manga_quantity" min="1" placeholder="Enter manga quantity.">
        </div>
        <div>
            <label for="manga_status">Status: </label>
            <select id="manga_status" name="manga_status">
                <option value="Completed">Completed</option>
                <option value="Dropped">Dropped</option>
                <option value="Ongoing">Ongoing</option>
                <option value="Hiatus">Hiatus</option>
            </select>
        </div>
        <div>
            <label for="manga_author">Author:</label>
            <div class="checkbox-container">
                <%authors.forEach(item => {%>
                    <div class="input-container">
                        <input type="checkbox" value="<%= item.author_fullname%>" id="manga_authors" name="manga_authors">
                        <label for="<%= item.author_fullname%>"><%= item.author_fullname %></label>
                    </div>
                <%})%>
            </div>
        </div>
        <hr>
        <div>
            <label for="manga_publisher">Publisher:</label>
            <div class="checkbox-container">
                <%publishers.forEach(item => {%>
                    <div class="input-container">
                        <input type="checkbox" value="<%= item.publisher_name%>" id="manga_publisher" name="manga_publisher">
                        <label for="<%= item.publisher_name%>"><%= item.publisher_name%></label>
                    </div>
                <%})%>
            </div>
        </div>
        <hr>
        <div>
            <label for="manga_genre">Genres:</label>
            <div class="checkbox-container">
                <%genres.forEach(item => {%>
                    <div class="input-container">
                        <input type="checkbox" value="<%= item.genre_name%>" id="manga_genre" name="manga_genre">
                        <label for="<%= item.genre_name%>"><%= item.genre_name%></label>
                    </div>
                <%})%>
            </div>
        </div>
        <hr>
        <div>
            <label for="manga_languages">Languages:</label>
            <div class="checkbox-container">
                <%languages.forEach(item => {%>
                    <div class="input-container">
                        <input type="checkbox" value="<%= item.language_name %>" id="manga_language" name="manga_language">
                        <label for="<%= item.language_name %>"><%= item.language_name%></label>
                    </div>
                <%})%>
            </div>
        </div>
        <hr>
        <div>
            <label for="manga_description">Description: </label>
            <textarea name="manga_description" id="manga_description" placeholder="Enter manga description."></textarea>
        </div>
        <div>
            <button>Add</button>
            <button type="reset">Reset</button>
            <a href="/mangas">Close</a>
        </div>
    </form>
</body>
</html>