<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/authors.css" type="text/css">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <title>Authors | Manga[kan]</title>
</head>
<body>
    <%- include("./partials/navbar")%>
    <div class="main-page">
        <div class="editor">
            <a href="">Add new author</a>
        </div>
        <%rows.forEach((row,index) => {%>
            <div class="box">
                <div>
                    <h2><%=  (index+ 1)+". " + row.first_name + " " + row.middle_name + " " + row.last_name%></h2>
                    <p>Age: <%= row.age%></p>
                    <p>Gender: <%= row.gender%></p>
                    <p>Country of origin: <%= row.country_of_origin%></p>
                </div>
                <a class="edit-link" href="">Edit</a>
            </div>
        <%})%>
    </div>
</body>
</html>