<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/mangas.css" type="text/css">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <title>Mangas | Manga[kan]</title>
</head>

<body>
    <%- include("./partials/navbar")%>
        <div class="main-page">
            <% if(locals.flag){%>
                <%- include("partials/mangaForm",{errors:locals.errors, publishers: locals.publishers, genres: locals.genres, languages: locals.languages}) %>
            <%} else { %>
                <div class="editor">
                    <a href="/mangas/add">Add new manga</a>
                </div>
            <%}%>
            <%rows.forEach((row,index)=> {%>
                <div class="box">
                    <img class="cover-image" src="<%= row.manga_image_url && row.manga_image_url.trim() !== '' 
                            ? row.manga_image_url 
                            : '/default-cover.svg' %>"
                            alt="manga volume cover"
                    >
                        <div class="manga-detail">
                            <h2>
                                <%=row.manga_name%>
                            </h2>
                            <p>Authors: <%= row.author_fullname || 'Unknown'%></p>
                            <p>Publisher: <%= row.publisher_name || 'Unknown'%></p>
                            <p>Rating: <%= row.manga_rating || 'Unknown'%> / 10
                            </p>
                            <p>Genres: <%= row.genre_name || 'Unknown'%></p>
                            <p>Status: <%= row.manga_status || 'Unknown'%>
                            </p>
                            <p>Chapter: <%= row.manga_chapter_number || 'Unknown'%> | Volume: <%= row.manga_volume_number || 'Unknown'%>
                            </p>
                            <p>Langages: <%= row.language_name || 'Unknown'%></p>
                            <p>Price: $<%= row.inventory_price || 'N/A'%></p>
                            <p>Quantity: <%= row.inventory_quantity !== 0 ? row.inventory_quantity : 'N/A'%></p>
                            <p>
                                Description: <%= row.manga_description || 'No description'%>
                            </p>
                            <div class="link-holder">
                                <form action="/mangas/edit/<%= row.manga_id%>" method="POST">
                                    <button>Edit</button>
                                </form>
                                <form action="/mangas/delete/<%= row.manga_id%>" method="POST">
                                    <button>Delete</button>
                                </form>
                            </div>
                        </div>
                </div>
                <%})%>
        </div>
</body>

</html>