<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/mangas.css" type="text/css">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <title>Mangas | Manga[kan]</title>
</head>

<body>
    <%- include("./partials/navbar")%>
        <div class="main-page">
            <div class="editor">
                <a href="">Add new manga</a>
            </div>
            <%rows.forEach((row,index)=> {%>
                <div class="box">
                    <img class="cover-image" src="<%= row.manga_image_url && row.manga_image_url.trim() !== '' 
                            ? row.manga_image_url 
                            : '/default-cover.svg' %>"
                            alt="manga volume cover"
                    >
                        <div class="manga-detail">
                            <h2>
                                <%=row.manga_name%>
                            </h2>
                            <p>Rating: <%= row.manga_rating%>
                            </p>
                            <p>Status: <%= row.manga_status%>
                            </p>
                            <p>Chapter: <%= row.manga_chapter_number%> | Volume: <%= row.manga_volume_number%>
                            </p>
                            <p>Price: $<%= row.inventory_price%></p>
                            <p>Quantity: <%= row.inventory_quantity !== 0 ? row.inventory_quantity : 'Unvailable'%></p>
                            <p>
                                <%= row.manga_description%>
                            </p>
                            <div class="link-holder">
                                <a class="edit-link" href="">Edit</a>
                                <a class="edit-link" href="">Delete</a>
                            </div>
                        </div>
                </div>
                <%})%>
        </div>
</body>

</html>